<!DOCTYPE html>
<html ng-app="app">
 <head>
   <meta charset="utf-8" />
   <title>试验</title>
 </head>
 <body>
  <!--<div ng-controller="BoxCtrl">
    <div style="width: 100px; height: 100px; background-color: red;" ng-click="click()"></div>
    <p>{{ w }} x {{ h }}</p>
    <p>W: <input type="text" ng-model="w" /></p>
    <p>H: <input type="text" ng-model="h" /></p>
  </div>-->
  <div ng-controller="TestCtrl">
    <input type="text" value="" id="a" />
  </div>
  <script src="../app/bower_components/jquery/dist/jquery.js"></script>
  <script src="../app/bower_components/angular/angular.min.js"></script>
  <script type="text/javascript" src="index.js"></script>
 </body>
</html>